:root{
    --color-header: rgb(148, 231, 148);
    --cor-das-letras: rgb(35, 97, 35);
    --cor-dos-titulos: rgb(84, 175, 84);
    --cor-dos-titulos-diferenciado: rgb(42, 147, 42);
    --botao-gradient-inicio: rgb(99, 231, 99);
    --botao-gradient-fim: rgb(39, 213, 30);
}  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
}
header{
    background-color: var(--color-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em;

}
.container1{
    height: 100vh;
}

.principal{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.titulo-nav{
    font-size: 30px;
    color: var(--cor-das-letras);
}
.links-nav{
    display: inline-block;
    margin-left: 4em;
    font-size: 24px;
    color: var(--cor-das-letras);
}
.imagem-principal{
    height: 35em;
}
.texto-principal{
    width: 50%;
}
.titulo-principal{
    color: var(--cor-dos-titulos);
    font-size: 50px;   
}
.paragrafo1-principal{
    padding: 1em 0;
}
.paragrafo1-principal, .paragrafo2-principal{
    font-size: 30px;
    color: var(--cor-das-letras);
}
.titulo-cursos{
    text-align: center;
    font-size: 44px;
    margin-bottom: 1em;
    color: var(--cor-dos-titulos);
}
.lista-cursos{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.nomes-cursos{
    font-size: 33px;
    color: var(--cor-dos-titulos-diferenciado);
}
.itens-cursos{
    text-align: center;
    border: 2px solid var(--cor-das-letras);
    border-radius: 1.3em;
    width: 40%;
    height: 35.5em;
    padding: 1em;
}
.imagens-cursos{
    height: 20em;
    padding: 5em 0;
}
.paragrafo-cursos{
    font-size: 22px;
    width: 100%;
    color: var(--cor-das-letras);
}
.botao-cursos{
    font-size: 25px;
    text-decoration: none;
    position: relative;
    top: 1.01em;
    padding: 0.4em 3em;
    background-image: linear-gradient(var(--botao-gradient-inicio), var(--botao-gradient-fim));
    border-radius: 20px;
    color: var(--cor-das-letras);
}
.a-nav{
    text-decoration: none;
    color: var(--cor-das-letras);
}
video{
    width: 70%;
    border-radius: 40px;
    border: 10px solid var(--cor-das-letras);
}
.um{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo-ad{
    font-size: 35px;
    color: var(--cor-dos-titulos);
    margin-bottom: 10px;
}
.paragrafo-ad, .paragrafo-af{
    color: var(--cor-das-letras);
    font-size: 20px;
    margin-top: 40px;
    width: 50%;
    text-align: justify;
}
.titulo-sec-ad,.titulo-sec-af{
    margin-top: 20px;
    font-size: 25px;
    color: var(--cor-dos-titulos-diferenciado);
}
.logo{
    height: 5em;
    margin-left: 3em;
}

footer{
    margin-top: 10px;
    background-color: var(--color-header);
    padding: 10px;
    text-align: center;
    color: var(--cor-dos-titulos-diferenciado);
}